<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167787540040-1b3k3ce8dr2c87b1cjrj5mgfhk92q4ri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167787540040-1b3k3ce8dr2c87b1cjrj5mgfhk92q4ri</string>
	<key>API_KEY</key>
	<string>AIzaSyBBzWoRewOq-AknPCVos78Gnp9Ji3T6AIc</string>
	<key>GCM_SENDER_ID</key>
	<string>167787540040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cc.SQLClient</string>
	<key>PROJECT_ID</key>
	<string>helen-s-tag</string>
	<key>STORAGE_BUCKET</key>
	<string>helen-s-tag.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167787540040:ios:a1256534f306c27174b27d</string>
</dict>
</plist>